In [1]:
import pandas as pd

from flask import (
    Flask,
    render_template,
    jsonify)

from flask_sqlalchemy import SQLAlchemy

In [7]:
from sqlalchemy import create_engine

In [8]:
con =create_engine("sqlite:///db/merg_dt.sqlite")

In [11]:
pd.read_sql_table("crime", con)

Empty DataFrame
Columns: [id, Areaname, sixteen_plus_unemployed, income_per_capital, crime_no]
Index: []

In [6]:
app = Flask(__name__)

# The database URI
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///db/merg_dt.sqlite"

In [6]:
db = SQLAlchemy(app)


# Create our database model
class Crime(db.Model):
    __tablename__ = 'crime'

    id = db.Column(db.Integer, primary_key=True)
    Areaname = db.Column(db.String)
    sixteen_plus_unemployed = db.Column(db.Float)
    income_per_capital = db.Column(db.Integer)
    crime_no = db.Column(db.Integer)

    def __repr__(self):
        return '<Crime %r>' % (self.name)


# Create database tables
@app.before_first_request
def setup():
    # Recreate database each time for demo
    # db.drop_all()
    db.create_all()


@app.route("/")
def home():
    """Render Home Page."""
    return render_template("index.html")


@app.route("/crime")
def crime_data():
    """Return ward name, income, unemployment and crime incidence number"""

    # Query for the data
    results = db.session.query(Crime.Areaname, Crime.income_per_capital, Crime.sixteen_plus_unemployed, Crime.crime_no).order_by(Crime.income_per_capital.desc()).all()


    # Create lists from the query result
    ward_name = [result[0] for result in results]
    income = [int(result[1]) for result in results]
    unemployment = [int(result[2]) for result in results]
    crime = [int(result[3]) for result in results]
    print(str(ward_name))

C:\Users\DelL\Anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [4]:
ward_name

NameError: name 'ward_name' is not defined